<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= titulo %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/fav.ico" />

</head>

<body>
  <main class="d-flex" style="min-height: 100dvh;">
    <!-- navegacion -->
    <header class="d-flex flex-column gap-4 border-end d-none d-md-block" id="menuNav">
      <div class="sticky-top">
        <div class="" style="min-height: 25dvh;">
          <div class="d-flex align-items-center p-4 gap-2 d-none contenido">
            <div class="d-flex bg-black p-2 rounded-1">
              <p class="card-title p-1 pe-0 text-light fw-bold">
                Cinema
              </p>
              <p class="card-title p-1 rounded-1 fw-bold" style="background-color: #F69416;">
                Hub
              </p>
            </div>
          </div>
          <div class="card-body ps-4 d-none contenido">
            <h5><strong> Bienvenido </strong>
              usuario
            </h5>
          </div>
        </div>
        <ul class="d-flex flex-column list-unstyled ps-2 pe-2">
          <li class="d-flex align-items-center justify-content-center">
            <a href="/peliculas" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-film"></i>
              <p class="mb-0 d-none contenido">
                Peliculas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/funciones" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-masks-theater"></i>
              <p class="mb-0 d-none contenido">
                Funciones
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/salas" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-person-booth"></i>
              <p class="mb-0 d-none contenido">
                Salas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/clientes" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-users"></i>
              <p class="mb-0 d-none contenido">
                Clientes
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center bg-dark">
            <a href="/ventas" class="text-white w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-money-bill"></i>
              <p class="mb-0 d-none contenido">
                Ventas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/productos" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-brands fa-apple"></i>
              <p class="mb-0 d-none contenido">
                Productos
              </p>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <!-- navegacion -->
    <header class="w-100 z-1 position-fixed  border-bottom d-md-none bg-body">
      <div class="p-2 d-flex justify-content-between">
        <button type="button" class="btn btn-primary" onclick="togleMenu()">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="bg-body border-end border-top d-none p-2" id="menuRes">
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center p-4 gap-2 d-none contenido">
            <div class="d-flex bg-black p-2 rounded-1">
              <p class="card-title p-1 pe-0 text-light fw-bold">
                Cinema
              </p>
              <p class="card-title p-1 rounded-1 fw-bold" style="background-color: #F69416;">
                Hub
              </p>
            </div>
          </div>
        </div>
        <ul class="d-flex flex-column list-unstyled ps-2 pe-2">
          <li class="d-flex align-items-center justify-content-center bg-dark">
            <a href="/peliculas" class="text-white w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-film"></i>
              <p class="mb-0 d-none contenido">
                Peliculas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/funciones" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-masks-theater"></i>
              <p class="mb-0 d-none contenido">
                Funciones
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/salas" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-person-booth"></i>
              <p class="mb-0 d-none contenido">
                Salas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/clientes" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-users"></i>
              <p class="mb-0 d-none contenido">
                Clientes
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center bg-dark">
            <a href="/ventas" class="text-white w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-solid fa-money-bill"></i>
              <p class="mb-0 d-none contenido">
                Ventas
              </p>
            </a>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <a href="/productos" class="text-body w-100 p-2 d-flex gap-2 align-items-center list-group-item fs-5">
              <i class="fa-brands fa-apple"></i>
              <p class="mb-0 d-none contenido">
                Productos
              </p>
            </a>
          </li>
        </ul>
      </div>
    </header>



    <% if (status===200 && mensaje) { %>
      <div class="position-fixed w-100 z-1 d-flex justify-content-center p-4 divContain" id="divContain">
        <div class="alert alert-success  w-80 w-sm-50 w-md-25 d-flex justify-content-between alerta" id="alerta">
          <div class="fw-bold">
            <%= mensaje %>
          </div>
          <button type="button" class="btn-close" onclick="cerrarAlerta()"></button>
        </div>
      </div>
      <% } else if(status===400 && mensaje) { %>
        <div class="position-fixed w-100 z-1 d-flex justify-content-center p-4" id="divContain">
          <div class="alert alert-danger  w-80 w-sm-50 w-md-25 d-flex justify-content-between alerta" id="alerta">
            <div class="fw-bold">
              <%= mensaje %>
            </div>
            <button type="button" class="btn-close" onclick="cerrarAlerta()"></button>
          </div>
        </div>
        <% } %>


          <div class="w-100">
            <section class="w-100 p-2">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex bg-black p-2 rounded-1">
                  <p class="card-title p-1 pe-0 text-light fw-bold">
                    Cinema
                  </p>
                  <p class="card-title p-1 rounded-1 fw-bold" style="background-color: #F69416;">
                    Hub
                  </p>
                </div>
                <h1 class="fw-bold mb-0">Ventas</h1>
              </div>
            </section>

            <!-- Formulario -->
            <div class="card p-2">
              <form action="/ventas/crear" method="post">

                <div class="mb-3">
                  <label for="cliente" class="form-label">Cliente</label>
                  <select id="clienteSelect" name="id_cliente" class="form-select" required>
                    <option value="">Seleccione un cliente</option>
                    <% clientes.forEach(function(cliente) { %>
                      <option value="<%= cliente.id_cliente %>">
                        <%= cliente.nombre %>
                      </option>
                      <% }); %>
                  </select>
                </div>


                <div class="mb-3">
                  <label for="tipo" class="form-label">Tipo de venta</label>
                  <select class="form-select" name="tipo" id="tipo" required>
                    <option selected disabled>Selecione un tipo...</option>
                    <option value="Entradas">Entradas</option>
                    <option value="Productos">Productos</option>
                  </select>
                </div>

                <div id="ent_div" class="mb-3 d-none">
                  <label for="entradas" class="form-label">Entradas</label>
                  <select class="form-select" name="entradas" id="entradas" required>
                    <option selected disabled>Selecione una funcion...</option>
                    <% if(entradas.length> 0 ) { %>
                      <% entradas.forEach(function(e){ function convertirHora(hora24) { const [horas, minutos,
                        segundos]=hora24.split(':').map(Number); const fecha=new Date(); fecha.setHours(horas, minutos,
                        segundos); return fecha.toLocaleTimeString('es-ES', { hour: 'numeric' , minute: 'numeric' ,
                        hour12: true }); } %>
                        <option value="<%= JSON.stringify(e) %>">
                          <%= e.titulo %> - Asien. Disp. <%= e.asientos %> - <%= convertirHora(e.hora) %>
                        </option>
                        <% })%>
                          <% } else { %>
                            <option value="null">Sin datos</option>
                            <% }%>
                  </select>
                </div>

                <div id="pro_div" class="mb-3 d-none">
                  <label for="productos" class="form-label">Productos</label>
                  <select class="form-select" name="productos" id="productos" required>
                    <option value="null" selected>Selecione un producto...</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Precio</label>
                  <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio" readonly  required/>
                </div>

                <div class="mb-3">
                  <label class="form-label">Cantidad</label>
                  <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad" required/>
                </div>

                <div class="mb-3">
                  <label for="total_v" class="form-label">Total</label>
                  <input type="number" class="form-control" name="total_v" id="total_v" placeholder="Total" readonly  required/>
                </div>

                <div class="mb-3">
                  <label for="metodo_pago" class="form-label">Método de pago</label>
                  <select class="form-select" name="metodo_pago" id="metodo_pago">
                    <option selected disabled>Selecione un tipo...</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Transferencia">Transferencia</option>
                    <option value="Pago movil">Pago movil</option>
                  </select>
                </div>

                <div class="mb-3">
                  <button type="submit" id="btnSubmit" class="btn btn-primary mb-3 w-100">
                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                  </button>
                </div>
              </form>
            </div>

          </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#clienteSelect').select2({
        placeholder: "Buscar cliente por nombre...",
        allowClear: true,
        language: "es"
      });
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const elemento = document.getElementById("menuNav");
      // Cuando el mouse entra en el elemento
      elemento.addEventListener("mouseenter", () => {
        const navegacion = document.querySelectorAll('.contenido');
        elemento.classList.add('activo')
        elemento.classList.remove('inActivo')
        setTimeout(() => {
          navegacion.forEach(item => {
            item.classList.remove('d-none')
          })
        }, 100)

      });
      elemento.addEventListener("mouseleave", () => {
        const navegacion = document.querySelectorAll('.contenido');
        elemento.classList.remove('activo')
        elemento.classList.add('inActivo')
        setTimeout(() => {
          navegacion.forEach(item => {
            item.classList.add('d-none')
          })
        }, 100)
      })
    });

    let menuAct = false

    function togleMenu() {
      const menu = document.getElementById('menuRes')
      if (!menuAct) {
        menu.classList.remove('menuResIn')
        menu.classList.add('menuResAct')
        menu.classList.remove('d-none')
        const navegacion = document.querySelectorAll('.contenido');
        setTimeout(() => {
          navegacion.forEach(item => {
            item.classList.remove('d-none')
          })
        }, 100)
        menuAct = true
      } else {
        menu.classList.remove('menuResAct')
        menu.classList.add('menuResIn')
        setTimeout(() => {
          menu.classList.add('d-none')
        }, 200)
        const navegacion = document.querySelectorAll('.contenido');
        setTimeout(() => {
          navegacion.forEach(item => {
            item.classList.add('d-none')
          })
        }, 100)
        menuAct = false
      }
    }

    const cerrarAlerta = () => {
      const alert = document.getElementById('alerta');
      alert.classList.remove('alerta');
      alert.classList.add('alertaSa');
      setTimeout(() => {
        document.getElementById('divContain').classList.add('d-none')
      }, 500);
    }

    const tipo = document.getElementById('tipo');
    const entrada = document.getElementById('entradas');
    const cantidad = document.getElementById('cantidad');

    tipo.addEventListener('change', () => {
      if (tipo.value == 'Entradas') {
        document.getElementById('ent_div').classList.remove('d-none')
        document.getElementById('pro_div').classList.add('d-none')
        entrada.value = null
        document.getElementById('precio').value = null

      } else if (tipo.value == 'Productos') {
        document.getElementById('pro_div').classList.remove('d-none')
        document.getElementById('ent_div').classList.add('d-none')
        entrada.value = null
        document.getElementById('precio').value = null
      }
      document.getElementById('total_v').value = 0
    })

    entrada.addEventListener('change', () => {
      const data = JSON.parse(entrada.value)
      document.getElementById('precio').value = data.precio
      if (cantidad.value > 0) {
        document.getElementById('total_v').value = parseFloat(data.precio) * parseFloat(cantidad.value)
      }
      if (cantidad.value === 0) {
        document.getElementById('total_v').value = 0
      }
    })

    cantidad.addEventListener('change', () => {
      const data = JSON.parse(entrada.value)
      document.getElementById('total_v').value = parseFloat(data.precio) * parseFloat(cantidad.value)
    })

  </script>

</body>

</html>